* {
  margin : 0;
  padding : 0;
}
/*
  rgba(39, 137, 216, .95)
*/

#mindmap-navbar {
  background-color: rgba(39, 137, 216, .95);
  margin-bottom : 0px;
  border: 0px;
}

#mindmap-navbar a{
  color: #fff !important;
}

/*.mindmap-header {
  padding-top : 25px;
  background-color: rgba(39, 137, 216, .10);
  border-bottom : 2px solid #eee;
}*/

.pagehead{
  min-height: 60px;
  background-color: rgba(39, 137, 216, .10);
  margin-bottom: 10px;
}

.pagehead ul{
  float:right;
  list-style-type: none;
}

.pagehead li a {
  text-align: center;
  margin: 10px 3px 0px;
  padding: 8px 5px;
  max-width: 1200px;
  background-color: inherit;
  color :rgba(39, 137, 216, 1.0);
  border: 0px;
}

.pagehead .breadcrumb{
  background-color: inherit;
  margin: 20px 0 0 0;
}

#mindmap-container {

}

#map-tool {
  border-bottom: 1px solid #eee
}

#map-editor{
  overflow : hidden;
  width : 100%;
  height:100vh;
}

#tool {
}
#tool rect {
  fill: rgba(39, 137, 216, .20);
  width : 25%;
  height : 100%;
}
#tool text {
  fill: black;
}



/*login*/
#login-box {
  margin : 50px auto 0px;
  padding : 30px 10px 10px;
  background-color: rgba(39, 137, 216, .20);
  max-width: 600px;
  box-shadow: rgba(0, 0, 0, 0.74902) 0px 0px 45px -2px;
  border-radius: 10px;
}

.error {  color: red;}
.draggable { cursor : move; }
