{{#link-to "maps.new" class="new-map btn btn-primary" }}New Map{{/link-to}}
<ul>
{{#each model as |map|}}
  <li>
    {{#link-to 'maps.edit' map}}
      {{map.title}}
    {{/link-to}}
  </li>
{{/each}}
</ul>

{{outlet}}
