<div class="pagehead">
  <div class="container">
    <h2 class="title pull-left">{{model.title}}</h2>
    <ol class="breadcrumb pull-right">
      <li><span class="author">{{model.author.username}}</span></li>
      <li><span class="created">{{model.created}}</span></li>
    </ol>
  </div>

</div>
{{map-editor postMindMap=(action 'postMindMap')}}
